.headline_section {
  background-color: white;
  width: 100%;
  padding: 20px 0;
}

.headline_item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}

.navbar {
  width: 100%;
  max-width: 1232px;
  margin: 20px auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
  display: flex;
  align-items: stretch;
}

.navbar li {
  width: 100%;
  border-right: 1px solid var(--black);
  list-style: none;
  text-align: center;
}

.navbar li:nth-last-child(1) {
  border-right: 0;
}

.navbar li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--black);
  padding: 16px;
}


.navbar li a:hover,
.navbar li a:focus{
    background-color: var(--green);
}

.nav_options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.nav_options button{
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
}